body {
	font-size: 16px;
}

#settings-form {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 20px;
	width: 80%;
	margin-bottom: 1em;

	>label {
		display: block;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	>input {
		display: block;
		grid-column-start: 2;
		grid-column-end: 3;
	}

}

